@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1110px;
  padding-bottom: 80px;
  margin: 0px auto;
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 350px;
    padding-bottom: 0px;
  }
}

span {
  display: inline-block;
}

body {
  font-family: "Spartan", sans-serif;
}

.job__content__company {
  font-size: 14px;
  font-weight: 700;
  color: #5ba4a4;
}

@media (min-width: 320px) and (max-width: 767px) {
  .job__content__company {
    font-size: 13px;
  }
}

.job__content__status {
  color: #ffffff;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.08px;
  line-height: 14px;
}

.job__content__title {
  color: #2c3a3a;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .job__content__title {
    font-size: 15px;
  }
}

.job__content__meta .meta {
  font-size: 15px;
  font-weight: 500;
  color: #7b8e8e;
  letter-spacing: -0.12px;
  line-height: 24px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .job__content__meta .meta {
    font-size: 13px;
    letter-spacing: -0.1px;
  }
}

.job__tags .tag {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.1px;
  line-height: 24px;
}

.job {
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
          box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
  border-radius: 5px;
  border-left: 5px solid #ffffff;
  padding: 32px 40px;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 320px) and (max-width: 767px) {
  .job {
    padding: 24px;
    margin-bottom: 40px;
  }
}

.job--featured {
  border-left: 5px solid #5ba4a4;
}

.job--hidden {
  display: none;
}

.job__logo {
  margin-right: 24px;
  height: 88px;
  width: 88px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .job__logo {
    width: 48px;
    height: 48px;
    margin-top: -48px;
    margin-bottom: 8px;
    position: relative;
    z-index: 99;
  }
}

.job__content__company {
  display: inline;
  margin-right: 16px;
}

.job__content__status {
  display: inline;
}

.job__content__status .status {
  margin-right: 8px;
}

.job__content__status .status--featured {
  background-color: #2c3a3a;
  padding: 6px 8px 4px 8px;
  border-radius: 50px;
}

.job__content__status .status--new {
  background-color: #5ba4a4;
  padding: 6px 8px 4px 8px;
  border-radius: 50px;
}

.job__content__title {
  margin: 8px 0px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.job__content__title:hover {
  color: #5ba4a4;
}

.job__content__meta .meta:nth-child(even)::after {
  content: "•";
  color: #7b8e8e;
  margin: 0px 16px;
}

.job__content__meta .meta:nth-child(even)::before {
  content: "•";
  color: #7b8e8e;
  margin: 0px 16px;
}

.job__tags {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0px 16px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .job__tags {
    padding-top: 16px;
    margin-top: 16px;
    border-top: 1px solid #b7c4c4;
    gap: 16px 16px;
    width: 100%;
  }
}

.job__tags .tag {
  cursor: pointer;
  padding: 4px 8px;
  color: #5ba4a4;
  background-color: #effafa;
  border-radius: 4px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.job__tags .tag:hover {
  padding: 4px 8px;
  color: #ffffff;
  background-color: #5ba4a4;
  border-radius: 4px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.filter__title {
  font-family: "Spartan", sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.1px;
  line-height: 24px;
  cursor: pointer;
  padding: 4px 8px;
  color: #5ba4a4;
  background-color: #effafa;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.filter__remove {
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #5ba4a4;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  padding: 9px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.filter__remove:hover {
  background-color: #2c3a3a;
}

body {
  background-color: #effafa;
}

header {
  height: 156px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/bg-header-desktop.svg");
}

.filter-bar {
  margin-top: -36px;
  min-height: 72px;
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
          box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
  border-radius: 5px;
  margin-bottom: 40px;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (min-width: 320px) and (max-width: 767px) {
  .filter-bar {
    margin-bottom: 56px;
  }
}

.filter-bar--hidden {
  visibility: hidden;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}

.clear-btn {
  cursor: pointer;
  font-family: "Spartan", sans-serif;
  background-color: #ffffff;
  border: 0px;
  font-size: 13px;
  font-weight: 700;
  color: #5ba4a4;
}

.clear-btn:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */