@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  max-width: 1110px;
  padding-bottom: 80px;

  @include media(">=phone", "<tablet") {
    max-width: 350px;
    padding-bottom: 0px;
  }
  margin: 0px auto;
}

span {
  display: inline-block;
}
