body {
  background-color: $ligthCyan;
}

header {
  height: 156px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/bg-header-desktop.svg");
}

.jobs {
}

.filters {
  @include flex(row, flex-start, center, wrap);
  gap: 16px;
}

.filter-bar {
  margin-top: -36px;
  min-height: 72px;
  background: $white;
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
  border-radius: 5px;
  margin-bottom: 40px;
  padding: 20px 40px;
  @include flex(row, space-between, center, nowrap);
  @include media(">=phone", "<tablet") {
    margin-bottom: 56px;
  }

  &--hidden {
    visibility: hidden;
  }
}

.clear-btn {
  cursor: pointer;
  font-family: "Spartan", sans-serif;
  background-color: #ffffff;
  border: 0px;
  font-size: 13px;
  font-weight: 700;
  color: $cyan;

  &:hover {
    text-decoration: underline;
  }
}
