body {
  background-color: $ligthCyan;
}

header {
  height: 156px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/bg-header-desktop.svg");
}

.jobs {
  padding: 100px 0px;
}
